body{
    background-color: black;
}
.page{
    width: 100%;
    height: 120vh;
    left: 30px;
    right: 30px;
    top: 130px;
    opacity: 0.5;
    border-radius: 50px;
    background: url("../../public/img/team playerorbit.png") ;
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat;
}

.heading{
    font-family: 'Poppins';
    font-style: normal;
    bottom: 50px;
    font-weight: 700;
    font-size: 76px;
    line-height: 144px;
    text-align: center;
    color: #fff;
}

.leader{
    width: 100%;
    height: 30%;
    left: 10px;
    background: #3A3D41;
    border-radius: 50px;
}
.ldr{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 96px;
    text-align: center;
    color: #27A3FE;
}
.lead{
    width: 100%;
    height: 30%;
    left: 10px;
    background: #3A3D41;
    border-radius: 50px;
}
.ld{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 96px;
    text-align: center;
    color: #27A3FE;
}
.intern{
    width: 100%;
    height: 30%;
    left: 10px;
    background: #3A3D41;
    border-radius: 50px;
}
.int{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 96px;
    text-align: center;
    color: #27A3FE;
}

